<div id="nav" class="py-4 border-b border-gray-400">
    <div class="container flex items-center">
        <span class="help"><%- include('../../dist/help-circle.svg') %></span>
        <h1 class="text-4xl font-semibold mx-auto">Formule</h1>
    </div>
</div>