<div id="nav" class="py-4 border-b border-[#FF1801]">
    <div class="container grid grid-cols-3 items-center">
        <span id="help_btn" class="cursor-pointer w-max"><%- include('../../dist/help-circle.svg') %></span>
        <h1 class="text-4xl font-bold mx-auto"><a href="/">Formule</a></h1>
        <div class="ml-auto flex gap-x-4">
            <span id="stats_btn" class="cursor-pointer"><%- include('../../dist/bar-chart.svg') %></span>
            <span id="settings_btn" class="cursor-pointer rotate"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg></span>
        </div>
    </div>
</div>

<div id="stats_modal" class="modal left-0 top-0 fixed w-full h-full hidden z-20" style="background-color: rgba(0,0,0,0.5);">
    <div class="w-1/3 absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-[#303030] border border-[#505050] rounded-lg">
        <div class="heading border-b border-[#FF1801] py-2 px-4 mb-4 flex items-center">
            <h2 class="text-xl font-semibold">Statistics</h2>
            <span class="close-btn ml-auto text-4xl cursor-pointer">&times;</span>
        </div>
        <div id="stats_body" class="body px-4 pb-2">
            
        </div>
    </div>
</div>

<div id="help_modal" class="modal left-0 top-0 fixed w-full h-full hidden z-20" style="background-color: rgba(0,0,0,0.5);">
    <div class="w-1/3 absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-[#303030] border border-[#505050] rounded-lg">
        <div class="heading border-b border-[#FF1801] py-2 px-4 mb-4 flex items-center">
            <h2 class="text-xl font-semibold">How to Play</h2>
            <span class="close-btn ml-auto text-4xl cursor-pointer">&times;</span>
        </div>
        <div class="body px-4 pb-2">
            <p>Guess the grand prix and year based off the top 5 standings of the race.</p>
            <p class="mt-2">If the gussed grand prix is in the right continent, it will show in orange. If the guessed year is close, it will be yellow.</p>
            <p class="mt-2">After a few failed guesses, you'll also be able to see the type of track (i.e. street circuit vs permanent track) to help you out.</p>
            <p class="mt-2">In the settings, you can restrict the grands prix to a certain year range, if you prefer.</p>
            <p class="mt-4">'Daily' rounds will be coming soon, and you will be able to alternate between playing the daily round or playing as many random rounds as you wish!</p>

            <div class="mt-8">
                <p class="text-xs inline"><a href="https://github.com/KyleTait01" class="hover:underline"target="_blank"><%- include('../../dist/github.svg') %></a></p>
            </div>
        </div>
    </div>
</div>

<div id="settings_modal" class="modal left-0 top-0 fixed w-full h-full hidden z-20" style="background-color: rgba(0,0,0,0.5);">
    <div class="w-1/3 absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-[#303030] border border-[#505050] rounded-lg">
        <div class="heading border-b border-[#FF1801] py-2 px-4 mb-4 flex items-center">
            <h2 class="text-xl font-semibold">Settings</h2>
            <span class="close-btn ml-auto text-4xl cursor-pointer">&times;</span>
        </div>
        <div class="body px-4 pb-2">
            <h4>Year Range</h4>
            <div class="slider-container mt-2">
                <div class="year-slider"></div>
            </div>
            <div class="range-input">
                <input id="min_range_input" type="range" class="min-range" min="1950" max="2024" step="1" value="1950">
                <input id="max_range_input" type="range" class="max-range" min="1950" max="2024" step="1" value="2024">
            </div>
            <div class="year-input flex mt-2">
                <label class="min-year">1950</label>
                <label class="max-year ml-auto">2024</label>
            </div>
        </div>
    </div>
</div>