<div id="nav" class="py-4 border-b border-[#FF1801]">
    <div class="container grid grid-cols-3 items-center">
        <span class="cursor-pointer w-max"><%- include('../../dist/help-circle.svg') %></span>
        <h1 class="text-4xl font-semibold mx-auto">Formule</h1>
        <span class="ml-auto cursor-pointer"><%- include('../../dist/bar-chart.svg') %></span>
    </div>
</div>