<% formatted_gp_name = chosen_gp.split('-').slice(1).map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ').replace('grand', 'Grand'); %>

<div id="win_screen" class="mt-16">
    <h2 class="text-3xl">You got it!</h2>
    <h4 class="mt-4 text-xl"><%= chosen_gp.split('-').map((word, index) => index === 0 ? word : word.charAt(0).toUpperCase() + word.slice(1)).join(' ').replace('grand', 'Grand');%></h4>
    <% gp_data.forEach((gp) => { %>
        <% if (gp[0] == formatted_gp_name){ %>
            <img src="<%= gp[2] %>" class="w-1/2 mx-auto mt-4">
        <% } %>
    <% }) %>
    <div class="border-t border-gray-600 mt-4 pt-2 flex justify-center items-center gap-x-4">
        <a href="https://en.wikipedia.org/wiki/<%= chosen_gp.split('-').map((word, index) => index === 0 ? word : word.charAt(0).toUpperCase() + word.slice(1)).join('_').replace('grand', 'Grand');%>" class="hover:underline" target="_blank">Wikipedia</a>
    </div>
</div>