<div id="win_screen" class="mt-16">
    <h2 class="text-3xl">You got it!</h2>
    <h4 class="mt-4 text-xl">2022 Austrian Grand Prix</h4>
    <img src="https://media.formula1.com/image/upload/content/dam/fom-website/2018-redesign-assets/Circuit%20maps%2016x9/Austria_Circuit.png.transform/9col/image.png" class="w-1/2 mx-auto mt-4">
    <div class="border-t border-gray-600 mt-4 pt-2 flex justify-center items-center gap-x-4">
        <a href="https://www.youtube.com/watch?v=G_8mOQeSa2U" target="_blank"><%- include('../dist/youtube.svg') %></a>
        <a href="https://en.wikipedia.org/wiki/2022_Austrian_Grand_Prix">Wikipedia</a>
    </div>
</div>